<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Musicality</a>
        </div>
         </div> 
</nav>

<h3>Login</h3>
<%= form_tag('/login', method: :post) do %>
	<div> Username: </div> <input type='text' name='username' />
	<div> Password: </div> <input type='password' name='password' />
	</br> <input type='submit' value='login' /><br>
<%= link_to "Not registered? Sign up now", signup_path %>
<% end %>
